html,body {
  height:100%;
}

.container{
  min-width: 300px;
  max-width: 500px;
  width:100%;
  height:calc(100% - 2em);
  padding:0;
  margin: 0 auto;
}
.row{
  /* background-color:#eef7fa; */
}
#center-container{
  margin-left:25%;
  margin-right:25%;
  height:100%;
  background-color:#C0C0C0;
}
.splash-screen{
  margin-top: 10%;
  min-width:300px;
  height:100%;
  padding: 2em;
  background-color:white;
  margin: auto;
  /* border:1px solid black; */
}
.margin-auto{
  margin: 0;
}
#root{
  height:inherit;
}
#page-template{
  height:inherit;
}
.btn a{
  color:white;
}
#navbar-special{
  height:3em;
}
#username-form{
  width:50%;
}
#logo-header{
  text-align: center;
}
.home-icon{
  font-size: 2em;
}
.input-create-control{
  min-width:300px !important;
  max-width:600px !important;
  width:100%;
  margin: auto;
}
.input-checkmark{
  max-width:600px !important;
  min-width:300px !important;
  width:100%;
  margin:auto;
  display:block;
}
#id-user{
  min-width:300px;
  max-width:100%;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align:center;
}